@import url ('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900 & display = swap ');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  
  background-color: rgba(210, 212, 223, 0.37);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 1%;
  box-shadow: 3px 3px 5px 0px #00000070;
}

h1 {
  margin-top: 25px;
  text-align: center;
  color: rgb(13, 75, 54);
}

h1#entrar {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(13, 75, 54);
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid rgb(13, 75, 54);
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}


.label-float input:focus{
  border-bottom: 1px solid #22623d;
}

.label-float label{
  color: #123872;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
}

.label-float input:focus + label, 
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #22623d;

}

button {
  background-color: rgb(65, 95, 141);
  border-color: transparent;
  color: white;
  padding: 7px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12pt;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

button:hover {
  background-color: rgba(43, 94, 170, 0.856);
  transition: all 0.2s ease-out;
}

.justify-center {
  display: flex;
  justify-content: center;
}

hr {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p {
  color: #123872;
  font-size: 14pt;
  text-align: center;
}

a{
  color: #22623d;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #158f48;
  transition: all .2s ease-out;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #123872;
}


/** Cad Style - Estilo do Cadastro**/

.cardCad {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 1%;
  box-shadow: 3px 3px 5px 0px #00000070;
  width: 400px;
}

.msgError {
  color: red ;
  padding: auto;
  margin-top: 10px;
  text-align: center;

}

.msgSuccess {
  color: rgb(18, 214, 18) ;
  padding: auto;
  margin-top: 10px;
  text-align: center;
}

/** Inicial Area Style - Estilo da página inicial**/

div.button {
  display: flex;
  justify-content:right;
  width: 20%;
  margin-left: 75%;
  margin-top: 15px;
  
}

#outBut {
  width: 80px;
  background-color: transparent;
  color: black;
  padding: 5px;
  margin-top: 0;
  font-size: 12pt;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  
}

#outBut:hover {
  
  color:rgb(67, 112, 108);
  border-color: transparent ;
  width: 80px;
  transition: all 0.2s ease-out;
  
}